body {
    background: #2c2c2c;
}
section {
    width: 90%;
    max-width: 1600px;
    height: 500px;
    /*border: 1px solid #fff; si lo queres sacar sacalo*/
    margin: 50px auto;
}
#redes {

}
#fila {
    width: 100%;
    display: flex;
}
#foto {
    width: 40%;
}
#info {
    width: 60%;
 }
 #info h2 {
    color: #0b1310;
    font-size: 32px;
    font-weight: 700;
    font-family: "Fugaz One";
    margin-bottom: 0;
 }
 #info h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    font-family: "Fugaz One";
    margin: 0;
 }
 #info .detalle {
    width: 150px;
    height: 4px;
    background: #0b1310;
 }
#info p {
    color: #fff;
    font-size: 15px;
    margin: 30px;
}
#info article {
    border: 3px solid #00f29e;
}
article ul li {
    color: #fff;
    font-size: 20px;
    list-style: none;
    width: 48%;
    display: inline-block;
}
#info .redes {
    margin: 30px 0;
}
#info .redes a {
    margin: 0 15px;
}